body {
  background-color: #feffd4d2; 
  padding:2em;
}

#bottom-bottom{
  padding-bottom: 3em;
}

#seasonal-critters{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0em;
  padding-bottom: 2em;
  position: center;
  font-family: 'Muli', sans-serif;
  background-color: #feffd4d2; 
}

.sc-header-toggle-btn{
  float: right;
  position: absolute;
}

#sc-navigation-bar{
  list-style-type: none;
  font-family: 'Muli', sans-serif;
  border-style: solid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(44, 133, 36);
  top: 0;
}

#sc-navigation-bar > ul{
  list-style-type: none;
  font-family: 'Muli', sans-serif;
  border-style: solid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(44, 133, 36);
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


#sc-intro-block #sc-input-block{
  background-color:  #feffd4d2; 
}


.sc-nameTitle{
  font-family: 'Baloo Chettan 2', cursive;
  color: white;
  font-size: small;
  margin-top: 0; 
}

#sc-p, #sc-h1, #sc-h2, #sc-h3, #sc-h4{
  font-family: 'Baloo Chettan 2', cursive;
}
.sc-p, .sc-h1, .sc-h2, .sc-h3, .sc-h4{
  font-family: 'Baloo Chettan 2', cursive;
}

@font-face{
  font-family: 'Baloo Chettan 2', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
}

#sc-ex-grid{
  display: grid;
  width: 100%;
  grid-gap: 5px;
  background-color:  #feffd4d2; 
  
}

#sc-example{
  display: inline-block;
  background-color: rgb(165, 165, 165);  
  border-radius: 25px;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  border:1px solid #ffffff00;/**/
  text-align: center;
}

#sc-months-input > #sc-selected-button{
  background-color: rgb(255, 157, 157);
}
#sc-hemisphere-input > #sc-selected-button{
  background-color: rgb(255, 157, 157);
}
#sc-display-input > #sc-selected-button{
  background-color: rgb(255, 157, 157);
}

#sc-months-input > button{
  display: inline-block;
  font-family : 'Baloo Chettan 2', cursive;
  font-size: 1em;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(255, 233, 233);
  width: auto;
  height: auto+20px;
}

#sc-hemisphere-input > button{
  display: inline-block;
  font-family : 'Baloo Chettan 2', cursive;
  font-size: 1em;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(255, 233, 233);
  width: auto;
  height: auto+20px;
}

#sc-display-input > button{
  display: inline-block;
  font-family : 'Baloo Chettan 2', cursive;
  font-size: 1em;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(255, 233, 233);
  width: auto;
  height: auto+20px;
}

#sc-example #sc-img {
  filter: grayscale(100%);
  opacity: 0.3;
}


#sc-hemisphere{
  align-items: center;
}

#sc-bug-table{
  display: grid;
  width: 100%;
  padding-top: 2em;
  border-radius: 25px;
  background-color:  #feffd4d2; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.result-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 0px;
  grid-auto-rows: px;
  text-align: center;
}

.result-list img {
  width: 100px;
  height: 100px;
  text-align: center;
}

#selected-bug{
  background-color: #268c16c1; 
  text-align: center;
  width:50%;
  border-radius: 100px;
  float: left;
}


#bug-card{
  background-color: #268c16c1; 
  border-style: solid;
}


#selected-fish{
  background-color: rgb(71, 133, 240); 
  text-align: center;
  width:50%;
  border-radius: 100px;
  float: left;
}

#fish-card{
  background-color: rgb(71, 133, 240); 
  border-style: solid;
}

#selected-month-view{
  float:right;
  width: 47%;
  position: center;
  vertical-align: middle;
  padding-top: 2em;
  padding-bottom: 6em;
}

#sc-fish-table{
  display: grid;
  width: 100%;
  padding-top: 0.5em;
  border-radius: 25px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#sc-fish-table #sc-table-body-cell{
  display: inline-block;
  border:1px solid #ffffff;/**/
  background-color: rgb(71, 133, 240);  
  border-radius: 25px;
  text-align: center;
  width: auto;
}

#sc-bug-table #sc-table-body-cell{
  display: inline-block;
  vertical-align: center;
  border:1px solid #feffd4d2;/**/
  background-color: #268c16c1; 
  border-radius: 25px;
  text-align: center;
  width: auto;
}

#sc-full-display{
  width: 100%;
  float:left;
}

#sc-left-input{
  width: 60%;
  float:left;
}

#sc-right-input{
  width: 30%;
  float:right;
}

#sc-option-text{
  display:grid;
  background-color:  #feffd4d2; 
}

#sc-hemisphere-input, #sc-months-input, #sc-display-input{
  display:grid;
  width: 100%;
  background-color:  #feffd4d2; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#sc-fish-shadow-list{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-auto-flow: row;
}

#sc-fish-shadow-list img{
  display: grid;
  width: 100px;
  height: 100px;
}

#sc-fish-shadow-list p{
  text-align: center;
}


#sc-h1{
  font-size: 4em;
  font-weight: bolder;
}


#sc-p{
  font-size: small;
}